* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: bold, sans-serif;
    font-weight: bold;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.background .container {
    width: 70%;
    height: 100%;
    margin: auto;
}

/* DEBUG */

/* .debug .background {
    background-color: blue;
} */

/* .debug nav {
    height: 70px;
    background-color: green;
} */

/* .debug .logo {
    height: 70px;
    background-color: tomato;
} */

/* .debug .link {
    height: 70px;
    background-color: black;
} */

/* .debug .accedi {
    height: 70px;
    background-color: tomato;
} */

/* .debug .main_title_desccription {
    height: 860px;
    background-color: blueviolet;
} */

/* .debug .promo {
    height: 400px;
    background-color: gray;
}

.debug .promo_img {
    background-color: greenyellow;
}

.debug .promo_text {
    background-color: hotpink;
    height: 400px;
} */

/* .debug .banner {
    height: 500px;
    background-color: red;
} */

/* .debug .banner_text {
    height: 200px;
    background-color: royalblue;
}

.debug .banner_img {
    height: 550px;
    background-color: orange;
} */

/* .debug .download {
    height: 100px;
    background-color: fuchsia;
} */

/* .debug #site_footer {
    background-color: red;
    height: 300px;
} */

/* .debug .row {
    height: 200px;
} */

/* .debug .row2 {
    height: 100px;
} */

/* .debug .social {
    height: 200px;
    background-color: #23272a;
}

.debug .col {
    height: 200px;
    background-color: violet;
} */

/* .debug .logo2 {
    height: 100px;
    background-color: turquoise;
}

.debug .registrati {
    height: 100px;
    background-color: turquoise;
} */

/* .debug .waveupside {
    height: 600px;
    background-color: yellow;
} */

/* header */

#site_header {
    background-color: #255ee9;
}

.nav {
    margin: auto;
    line-height: 1.5;
}

.logo {
    width: 20%;
    float: left;
    padding: 15px 0;
}

.link {
    width: 60%;
    float: left;
    text-align: center;
    padding: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 1.5rem;
}

.accedi {
    width: 20%;
    float: right;
    padding: 15px 0;
    text-align: right;
}

.accedi>button {
    padding: 7px 15px;
    border-radius: 30px;
    border: 0;
}

/* main */

.jumbo {
    background-image: url(./img/jumbo.png);
    background-size: cover;
    height: 550px;
}

.main_title_desccription {
    color: white;
    width: 35%;
    position: absolute;
    top: 35%;
    left: 53%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h1, .main_title_desccription p {
    padding: 10px 0;
    width: 100%;
    color: white;
}

h1 {
    font-size: 50px;
}

p {
    word-wrap: break-word;
    padding-bottom: 2rem;
    line-height: 30px;
}

button {
    padding: 7px 15px;
    border-radius: 30px;
    border: 0;
    text-decoration: none;
    font-weight: bold;
}

.button-1 {
    background-color: white;
    color: #494c4f;
    margin-right: 1rem;
}

.button-2 {
    background-color: black;
    font-weight: bold;
    color: white;
}

/* promo */

.promo {
    padding-top: 100px;
    width: 100%;
}

.promo_img {
    height: 100%;
    width: 55%;
}

.promo_text {
    margin-top: 22px;
    width: 30%;
    text-align: left;
    line-height: 1.5;
}

.promo_text h2 {
    font-size: 50px;
}

.left {
    float: left;
}

object {
    opacity: 0.1;
    position: relative;
    top: 4px;
}

.wave {
    background-color: #e6e6e6;
    margin: auto;
}

.wave .promo_img {
    position: relative;
    left: 16rem;
}

.wave .promo_text {
    position: relative;
    left: 16rem;
}

.waveupside {
    background-image: url(./img/wave.svg);
    opacity: 0.1;
    background-size: cover;
    height: 100px;
    transform: rotate(180deg);
}

/* banner */

.banner {
    background-color: #e6e6e6;
    padding-top: 100px;
}

.banner_text {
    text-align: center;
    width: 70%;
    margin: auto;
}

.banner_text h2 {
    font-size: 50px;
}

.banner_text p {
    padding-top: 2rem;
}

.banner_img {
    margin: auto;
    text-align: center;
    width: 70%;
    object-fit: cover;
}

.download {
    margin: auto;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    padding-bottom: 100px;
}

.download h2 {
    display: inline-block;
    position: relative;
    right: 230px;
}

.download img {
    position: relative;
    left: 250px;
}

.button-3 {
    background-color: #8ea1e1;
    font-weight: bold;
    color: white;
    display: block;
    position: relative;
    left: 888px;
}

/* footer */

#site_footer {
    background-color: #23272a;
    padding-top: 70px;
    line-height: 1.5;
}

#site_footer p {
    margin-top: 10px;
    color: white;
    font-size: smaller;
}

.row {
    padding-bottom: 30px;
    border-bottom: 1px solid #7289da;
}

.social {
    width: 33%;
    float: left;
}

.social h3 {
    color: #7289da;
    width: 45%;
}

.social img {
    width: 20px;
}

.social_logo img {
    margin-right: 1rem;
}

.arrow {
    position: relative;
    bottom: 5px;
}

.col {
    float: left;
    width: 16.75%;
}

.col ul {
    list-style: none;
    color: white;
    font-weight: 200;
    line-height: 2;
}

.col .category {
    color: #7289da;
}

.row2 {
    padding-top: 2rem;
}

.logo2 {
    float: left;
    width: 20%;
}

.registrati {
    width: 20%;
    float: right;
    text-align: right;
}

.button-4 {
    background-color: #8ea1e1;
    font-weight: bold;
    color: white;
}