* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: bold, sans-serif;
    font-weight: bold;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.background .container {
    width: 70%;
    height: 100%;
    margin: auto;
}

/* DEBUG */

/* .debug .background {
    background-color: blue;
} */

/* .debug nav {
    height: 70px;
    background-color: green;
} */

/* .debug .logo {
    height: 70px;
    background-color: tomato;
} */

/* .debug .link {
    height: 70px;
    background-color: black;
} */

/* .debug .accedi {
    height: 70px;
    background-color: tomato;
} */

/* .debug .main_title_desccription {
    height: 860px;
    background-color: blueviolet;
} */

.debug .promo {
    height: 400px;
    background-color: gray;
}

.debug .promo_img {
    background-color: greenyellow;
}

.debug .promo_text {
    background-color: hotpink;
    height: 400px;
}

.debug .banner {
    height: 500px;
    background-color: red;
}

.debug .banner_text {
    height: 200px;
    background-color: royalblue;
}

.debug .banner_img {
    height: 200px;
    background-color: orange;
}

.debug .download {
    height: 100px;
    background-color: fuchsia;
}

.debug #site_footer {
    background-color: red;
    height: 300px;
}

.debug .row {
    height: 200px;
}

.debug .row2 {
    height: 100px;
}

.debug .social {
    height: 200px;
    background-color: yellow;
}

.debug .col {
    height: 200px;
    background-color: violet;
}

.debug .logo2 {
    height: 100px;
    background-color: turquoise;
}

.debug .registrati {
    height: 100px;
    background-color: turquoise;
}

/* header */

#site_header {
    background-color: #255ee9;
}

.nav {
    margin: auto;
    line-height: 1.5;
}

.logo {
    width: 20%;
    float: left;
    padding: 15px 0;
}

.link {
    width: 60%;
    float: left;
    text-align: center;
    padding: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 1.5rem;
}

.accedi {
    width: 20%;
    float: right;
    padding: 15px 0;
    text-align: right;
}

.accedi>button {
    padding: 7px 15px;
    border-radius: 30px;
    border: 0;
}

/* main */

.jumbo {
    background-image: url(./img/jumbo.png);
    background-size: cover;
    height: 550px;
}

.main_title_desccription {
    color: white;
    width: 35%;
    position: absolute;
    top: 35%;
    left: 53%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h1, p {
    padding: 10px 0;
    width: 100%;
    color: white;
}

h1 {
    font-size: 50px;
}

p {
    word-wrap: break-word;
    padding-bottom: 2rem;
    line-height: 30px;
}

.button-1 {
    padding: 10px 15px;
    border-radius: 30px;
    border: 0;
    background-color: white;
    text-decoration: none;
    font-weight: bold;
    color: #494c4f;
    margin-right: 1rem;
}

.button-2 {
    padding: 10px 15px;
    border-radius: 30px;
    border: 0;
    background-color: black;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

/* promo */

.promo {
    margin-top: 10px;
    width: 100%;
}

.promo_img {
    height: 100%;
    width: 65%;
}

.promo_text {
    width: 35%;
}

.left {
    float: left;
}

.right {
    float: right;
}

/* banner */

.banner {
    margin-top: 2rem;
}

.banner_text {}

.banner_img {}

/* footer */

.social {
    width: 33%;
    float: left;
}

.col {
    float: left;
    width: 16.75%;
}

.logo2 {
    float: left;
    width: 20%;
}

.registrati {
    float: right;
    width: 20%;
}